body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --input-labels: Inter;
  
    /* font sizes */
    --font-size-xs: 12px;
    --input-labels-size: 16px;
  
    /* Colors */
    --white: #fff;
    --color-dimgray: #4d4d4d;
    --color-lightgray: #cacaca;
    --buttons-secondary: #e8edff;
    --buttons: #2554fb;
    --color-black: #000;
    --body: #475e6b;
    --titles: #1d1c3f;
  
    /* Gaps */
    --gap-47xl: 66px;
    --gap-25xl: 44px;
    --gap-23xl: 42px;
    --gap-5xl: 24px;
    --gap-13xl: 32px;
    --gap-5xs: 8px;
    --gap-12xl: 31px;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-3xl: 22px;
    --padding-13xl: 32px;
    --padding-lg: 18px;
    --padding-base: 16px;
  
    /* Border radiuses */
    --br-8xs: 5px;
  }