.frame-child,
.img-icon {
  position: absolute;
  left: 0;
  object-fit: cover;
}
.img-icon {
  height: calc(100% - 1px);
  top: 1px;
  bottom: 0;
  max-height: 100%;
  width: 760px;
}
.frame-child {
  top: 0;
  width: 801px;
  height: 1025px;
  z-index: 1;
}
.img-parent {
  margin-top: -1px;
  margin-bottom: -21px;
  height: 1025px;
  width: 801px;
  position: relative;
  max-width: calc(100% - 606px);
}
.logo-icon {
  width: 55px;
  height: 55px;
  position: relative;
}
.login-with-the,
.login1 {
  position: relative;
  line-height: 20px;
}
.login1 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.login-with-the {
  font-size: var(--input-labels-size);
  color: var(--color-dimgray);
}
.login-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 8px;
  box-sizing: border-box;
  gap: 31px 0;
  max-width: 100%;
}
.email {
  width: 314px;
  position: relative;
  font-size: var(--input-labels-size);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--input-labels);
  color: var(--titles);
  text-align: left;
  display: inline-block;
}
.input,
.input-email {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  border: 1.5px solid var(--body);
  outline: 0;
  background-color: transparent;
  height: 56px;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  padding: var(--padding-base);
  min-width: 250px;
}
.input-email {
  gap: 8px 0;
}
.email1,
.johndoegmailcom {
  width: 314px;
  font-family: var(--input-labels);
  font-size: var(--input-labels-size);
  position: relative;
  color: var(--titles);
  text-align: left;
  display: inline-block;
}
.email1 {
  line-height: 20px;
  font-weight: 600;
}
.johndoegmailcom {
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  line-height: 24px;
}
.input-email-parent,
.input-password,
.input1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.input1 {
  border-radius: var(--br-8xs);
  border: 1.5px solid var(--body);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base);
}
.input-email-parent,
.input-password {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px 0;
}
.input-email-parent {
  gap: 24px 0;
}
.log-in {
  flex: 1;
  position: relative;
  font-size: var(--input-labels-size);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--input-labels);
  color: var(--white);
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
  cursor: pointer;
}
.button,
.frame-container {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg);
  background-color: var(--buttons);
  border-radius: var(--br-8xs);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.button:hover {
  background-color: #4d7aff;
}
.frame-container {
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px 0;
}
.did-you-forget {
  width: 252px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 24px 0;
  max-width: 100%;
  font-size: var(--input-labels-size);
  color: var(--color-dimgray);
}
.stroke {
  width: 584px;
  height: 237px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.login-with-the1,
.sign-up1 {
  position: relative;
  line-height: 20px;
  z-index: 1;
}
.sign-up1 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  white-space: nowrap;
}
.login-with-the1 {
  font-size: var(--input-labels-size);
  color: var(--color-dimgray);
}
.sign-up-frame,
.signup-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.signup-text {
  flex-direction: column;
  gap: 23px 0;
}
.sign-up-frame {
  align-self: stretch;
  flex-direction: row;
}
.create-account {
  flex: 1;
  position: relative;
  font-size: var(--input-labels-size);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--input-labels);
  color: var(--buttons);
  text-align: center;
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
}
.button1,
.frame-parent,
.sign-up {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg);
  background-color: var(--buttons-secondary);
  border-radius: var(--br-8xs);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}
.button1:hover {
  background-color: #cfd4e6;
}
.frame-parent,
.sign-up {
  flex-direction: column;
}
.sign-up {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-13xl) 48px var(--padding-13xl) 55px;
  gap: var(--gap-23xl);
  min-height: 237px;
  font-size: 24px;
}
.frame-parent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 44px 0;
}
.cookies,
.legal-policy {
  position: relative;
  line-height: 20px;
}
.cookies-legal-policy {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
}
.copyright-2021,
.made-with-love {
  position: relative;
  line-height: 20px;
}
.footer-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 1px 0 0;
  gap: 20px;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.image-sidebar,
.image-sidebar-inner,
.logo-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 66px 0;
  max-width: 100%;
}
.image-sidebar,
.image-sidebar-inner {
  flex-shrink: 0;
}
.image-sidebar-inner {
  width: 584px;
  flex-direction: column;
  padding: 15px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 823px);
}
.image-sidebar {
  align-self: stretch;
  height: 1003px;
  overflow: hidden;
  flex-direction: row;
  gap: 0 22px;
  max-width: 100%;
  z-index: 2;
  text-align: left;
  font-size: 48px;
  color: var(--color-black);
  font-family: var(--input-labels);
}
.login,
.login-container {
  display: flex;
  box-sizing: border-box;
}
.login-container {
  width: 1505px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  max-width: 100%;
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 41px 0 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .img-parent {
    display: none;
  }
  .image-sidebar-inner {
    max-width: 100%;
  }
  .image-sidebar {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1025px) {
  .img-parent {
    max-width: 100%;
  }
  .login1 {
    font-size: 38px;
    line-height: 16px;
  }
  .image-sidebar-inner {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .frame-container {
    gap: 32px 0;
  }
  .sign-up {
    gap: var(--gap-23xl);
    padding-left: 27px;
    padding-right: 24px;
    box-sizing: border-box;
  }
  .frame-parent {
    gap: 44px 0;
  }
  .logo-parent {
    gap: 66px 0;
  }
}
@media screen and (max-width: 450px) {
  .login1 {
    font-size: 29px;
    line-height: 12px;
  }
  .login-parent {
    gap: 31px 0;
  }
  .sign-up1 {
    font-size: 19px;
    line-height: 16px;
  }
  .footer-frame {
    flex-wrap: wrap;
  }
  .logo-parent {
    gap: 66px 0;
  }
  .image-sidebar {
    height: auto;
  }
}