.rectangle-component {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 720px;
    right: -640px;
    bottom: -718px;
    left: 640px;
    background: linear-gradient(#fff, #fff), #d9d9d9;
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .get-started {
    margin: 0;
    height: 76.6px;
    width: 404.4px;
    position: relative;
    font-size: inherit;
    font-weight: 800;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 1;
  }
  .sign-up-text {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 100%;
  }
  .name {
    height: 25.1px;
    flex: 1;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 500;
    display: inline-block;
    z-index: 1;
  }
  .frames-for-name-and-email {
    width: 134px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-13xl);
    box-sizing: border-box;
  }
  .email {
    height: 25.1px;
    flex: 1;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frames-for-name-and-email1 {
    width: 131px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-13xl);
    box-sizing: border-box;
  }
  .password {
    width: 121.7px;
    height: 25.1px;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .new-moon-icon,
  .new-moon-icon1 {
    position: absolute;
    top: 0.4px;
    left: 0.2px;
    width: 18.2px;
    height: 11.9px;
    object-fit: cover;
    z-index: 1;
  }
  .new-moon-icon1 {
    left: 26.8px;
  }
  .login-frame,
  .new-moon-icon2 {
    height: 12px;
    width: 45px;
    position: relative;
  }
  .new-moon-icon2 {
    height: 11.9px;
    width: 16.8px;
    object-fit: cover;
    min-height: 12px;
    z-index: 1;
  }
  .new-moon-icon3,
  .new-moon-icon4,
  .new-moon-icon5 {
    width: 18.2px;
    height: 11.9px;
    object-fit: cover;
    z-index: 1;
  }
  .new-moon-icon3 {
    position: relative;
    min-height: 12px;
  }
  .new-moon-icon4,
  .new-moon-icon5 {
    position: absolute;
    top: 0.4px;
    left: 0.1px;
  }
  .new-moon-icon5 {
    left: 26.7px;
  }
  .login-frame1 {
    height: 12px;
    width: 45px;
    position: relative;
  }
  .new-moon-icon6,
  .new-moon-icon7,
  .new-moon-icon8 {
    height: 11.9px;
    width: 16.8px;
    position: relative;
    object-fit: cover;
    min-height: 12px;
    z-index: 1;
  }
  .new-moon-icon7,
  .new-moon-icon8 {
    width: 18.2px;
  }
  .password-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 2px 0 0;
    gap: 0 8px;
  }
  .frame-wrapper,
  .password-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .password-parent {
    flex-direction: column;
    gap: 17px 0;
  }
  .frame-wrapper {
    flex-direction: row;
    padding: 0 var(--padding-13xl);
  }
  .or-line-child {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0.1px;
    right: 0.1px;
    bottom: -0.1px;
    left: -0.1px;
    border-radius: 16px;
    background-color: var(--color-midnightblue-100);
    box-shadow: 0 8px 24px -2px rgba(11, 47, 138, 0.6);
  }
  .sign-up1 {
    align-self: stretch;
    width: 97.9px;
    position: relative;
    font-size: var(--font-size-base);
    letter-spacing: 0.1em;
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .component,
  .or-line {
    display: flex;
    flex-direction: row;
  }
  .or-line {
    cursor: pointer;
    border: 0;
    padding: 17px;
    background-color: transparent;
    height: 60px;
    width: 308px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    z-index: 1;
  }
  .component {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .line-guide {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-midnightblue-200);
    box-sizing: border-box;
    z-index: 1;
  }
  .or-text {
    height: 3px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
    min-width: 153px;
  }
  .or-sign-up {
    height: 25.1px;
    width: 193.1px;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .or-text-parent {
    width: 460px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 32px;
    max-width: 100%;
  }
  .frame-parent {
    align-self: stretch;
    flex-direction: column;
    gap: 58px 0;
  }
  .frame-parent,
  .frame-with-name-and-email,
  .password-frame {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-with-name-and-email {
    width: 518px;
    flex-direction: column;
    gap: 86px 0;
  }
  .password-frame {
    align-self: stretch;
    flex-direction: row;
    font-size: var(--font-size-base);
    color: var(--color-midnightblue-200);
  }
  .groups-of-ellipses-and-images {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
  }
  .image-1-icon {
    position: absolute;
    top: 6.6px;
    left: 7px;
    width: 42px;
    height: 39.6px;
    object-fit: cover;
    z-index: 1;
  }
  .groups-of-ellipses-and-images-parent {
    width: 56px;
    height: 52.9px;
    position: absolute;
    margin: 0 !important;
    bottom: -30px;
    left: 265.7px;
    z-index: 1;
  }
  .frame-child {
    position: absolute;
    width: calc(100% - 2.8px);
    top: 0;
    right: 1.4px;
    left: 1.4px;
    border-radius: 50%;
    background-color: var(--color-gainsboro);
    height: 52.9px;
  }
  .ellipse-parent,
  .image-2-icon {
    width: 58.8px;
    height: 52.9px;
    position: absolute;
    z-index: 1;
  }
  .image-2-icon {
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .ellipse-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    margin: 0 !important;
    right: 186.8px;
    bottom: -30px;
  }
  .frame-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-gainsboro);
    width: 100%;
    height: 100%;
  }
  .ellipse-group,
  .image-3-icon {
    width: 56px;
    height: 52.9px;
    position: absolute;
    z-index: 1;
  }
  .image-3-icon {
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .ellipse-group {
    margin: 0 !important;
    right: 58.1px;
    bottom: -30px;
  }
  .grouped-inputs,
  .password-field {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .password-field {
    justify-content: flex-start;
    padding: 49px 14px 62px 60px;
    box-sizing: border-box;
    position: relative;
    gap: 57px 0;
  }
  .grouped-inputs {
    justify-content: center;
  }
  .already-have-an,
  .sign-in {
    height: 25.1px;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 500;
    display: inline-block;
    white-space: nowrap;
  }
  .already-have-an {
    flex: 1;
    max-width: 100%;
  }
  .sign-in {
    width: 86.8px;
    color: var(--color-midnightblue-100);
    flex-shrink: 0;
    cursor: pointer;
  }
  .frame-already-have-account {
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    gap: 0 11px;
  }
  .eye-icon,
  .frame-already-have-account,
  .input-frames {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .eye-icon {
    width: 432px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 4px 0 var(--padding-10xs);
    box-sizing: border-box;
    font-size: var(--font-size-base);
    color: var(--color-midnightblue-200);
  }
  .input-frames {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    gap: 73px 0;
  }
  .eye-icon1 {
    align-self: stretch;
    height: 22.5px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .input-frames-parent,
  .line {
    display: flex;
    justify-content: flex-start;
  }
  .line {
    width: 82px;
    flex-direction: column;
    align-items: flex-start;
    padding: 82px 1px 0 0;
    box-sizing: border-box;
  }
  .input-frames-parent {
    width: 771px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 49px;
    max-width: calc(100% - 986px);
    flex-shrink: 0;
  }
  .imac-1-child,
  .imac-1-item {
    height: 2px;
    width: 686.2px;
    left: 78.2px;
    backdrop-filter: blur(6px);
    border-top: 2px solid var(--color-midnightblue-200);
  }
  .imac-1-child {
    position: absolute;
    margin: 0 !important;
    top: 248.5px;
    box-sizing: border-box;
    z-index: 1;
  }
  .imac-1-item {
    top: 359.5px;
  }
  .imac-1-inner,
  .imac-1-item,
  .line-div {
    position: absolute;
    margin: 0 !important;
    box-sizing: border-box;
    z-index: 1;
  }
  .imac-1-inner {
    height: 2px;
    width: 686.2px;
    top: 470.5px;
    left: 78.2px;
    backdrop-filter: blur(6px);
    border-top: 2px solid var(--color-midnightblue-200);
  }
  .line-div {
    height: 1px;
    width: 236.1px;
    bottom: 328.8px;
    left: 553.9px;
    border-top: 1px solid var(--color-midnightblue-200);
  }
  .frame-or-sign-up-with {
    margin-bottom: -49px;
    height: 1025px;
    flex: 1;
    position: relative;
    max-width: calc(100% - 829px);
    overflow: hidden;
    object-fit: cover;
  }
  .imac-1,
  .sign-up {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .imac-1 {
    height: 976px;
    width: 1757px;
    border-radius: 24px;
    background-color: var(--color-white);
    flex-shrink: 0;
    gap: 0 58px;
    max-width: 100%;
    text-align: left;
    font-size: 48px;
    color: var(--color-midnightblue-100);
    font-family: var(--font-inter);
  }
  .sign-up {
    width: 100%;
    background-color: #1b0b49;
    padding: var(--padding-11xl) 54px 118px;
    box-sizing: border-box;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1525px) {
    .frame-or-sign-up-with,
    .input-frames-parent {
      display: none;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 1225px) {
    .sign-up {
      padding-left: var(--padding-8xl);
      padding-right: var(--padding-8xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 850px) {
    .get-started {
      font-size: 38px;
    }
    .or-text-parent {
      flex-wrap: wrap;
    }
    .frame-parent {
      gap: 58px 0;
    }
    .frame-with-name-and-email {
      gap: 86px 0;
    }
    .password-field {
      gap: 57px 0;
      padding-left: var(--padding-11xl);
      padding-top: var(--padding-13xl);
      padding-bottom: 40px;
      box-sizing: border-box;
    }
    .input-frames {
      gap: 73px 0;
      min-width: 100%;
    }
    .imac-1 {
      height: auto;
      gap: 0 58px;
    }
  }
  @media screen and (max-width: 450px) {
    .get-started {
      font-size: 29px;
    }
    .new-moon-icon2,
    .new-moon-icon6 {
      width: 100%;
      height: 16.8px;
    }
    .password-input {
      flex-wrap: wrap;
    }
    .or-text-parent {
      gap: 0 32px;
    }
    .frame-with-name-and-email {
      gap: 86px 0;
    }
  }